body {
    font-family: 'Roboto', sans-serif;
  }
  

  .names {
    font-family: 'Sometype Mono', monospace;
    font-weight: 500; 
    font-size: 38px;
    margin-bottom: 4rem;
  }
  
  .title {
    font-family: 'Sometype Mono', monospace;
    font-weight: 600;
    font-size: 60px; 
  }
  

.landing-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    position: relative;
  }
  
  .image-section {
    width: 50%;       
    height: 100%;     
    overflow: hidden; 
  }
  
  .image-section img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    opacity: 0.7;
  }
  
  .center-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    z-index: 1; 
  }
  
  .enter-button {
    margin-top: 20px;
    padding: 20px 30px;
    font-size: 18px;
    cursor: pointer;
    background-color: white;   
    border: 2px solid black;        
    border-radius: 0;               
    color: black;                  
    transition: background-color 0.3s, color 0.3s; 
    font-size: 'Sometype Mono', monospace;
  }
  
  .enter-button:hover {
    background-color: black;       
    color: white;  
    border: 2px solid white;             
  }

  .password-input {
    padding: 20px 20px;
    margin-bottom: 10px;
    font-size: 16px;
    border: 2px solid black;
    width: 200px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.5);
  }
  
  .error-text {
    color: #ff4444;
    font-size: 14px;
    margin-bottom: 10px;
  }

  .center-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  

  /* MEDIA QUERIES */

  @media (max-width: 768px) {
    .names {
      font-size: 28px; 
    }

    .title {
        font-size: 50px; 
      }

      .landing-container {
        flex-direction: column;
      }
    
      .image-section {
        width: 100%;
        height: 50%;
      }

      .center-content {
        top: 35%;
    }
    .image-section img {
      object-position: center top;
    }
    
  }
  
  
  
  