body {
    font-family: 'Roboto', sans-serif;
  }
  

  .names {
    font-family: 'Sometype Mono', monospace;
    font-weight: 500; 
    font-size: 38px;
    margin-bottom: 5rem;
  }
  
  .title {
    font-family: 'Sometype Mono', monospace;
    font-weight: 600;
    font-size: 60px; 
  }
  

.landing-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    position: relative;
  }
  
  .image-section {
    width: 50%;       
    height: 100%;     
    overflow: hidden; 
  }
  
  .image-section img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    opacity: 0.7;
  }
  
  .center-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    z-index: 1; 
  }
  
  .enter-button {
    margin-top: 20px;
    padding: 20px 30px;
    font-size: 18px;
    cursor: pointer;
    background-color: transparent;   
    border: 2px solid white;        
    border-radius: 0;               
    color: white;                  
    transition: background-color 0.3s, color 0.3s; 
    font-size: 'Sometype Mono', monospace;
  }
  
  .enter-button:hover {
    background-color: black;       
    color: white;  
    border: 2px solid white;             
  }

  /* MEDIA QUERIES */

  @media (max-width: 768px) {
    .names {
      font-size: 24px; 
    }

    .title {
        font-size: 50px; 
      }
  }
  
  
  
  