.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  padding: 15px 30px;
  padding-top: 15px;
  width: 100%;
  background-color: #E7E09B;
  position: relative;
  box-sizing: border-box;
  font-family: 'Sometype Mono', monospace;
  font-weight: 600;
}

.header-title {
  text-align: center;
  font-weight: 800;
  font-size: 28px;
  line-height: 1.2;
}

.header-left,
.header-right {
  display: flex;
  gap: 10px;
  align-items: center;
}

.header-text {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease, transform 0.2s ease;
}


.header-text:hover {
  color: #b4b4b4; 
  transform: scale(1.05);
}

.header-text:active {
  color: #d6bfff;   
  transform: scale(0.97);
}


.header-text.active {
  text-decoration: underline;
  color: #ffffff; 
}

/* ================= BOTONES ================= */
.btn-rsvp,
.btn-language,
.header-text,
.hamburger-menu {
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  color: inherit;
  outline: none;
  box-shadow: none;
  transition: background-color 0.3s, color 0.3s;
  font-family: 'Sometype Mono', monospace;
}

.btn-rsvp,
.btn-language {
  padding: 10px 30px;
  font-size: 16px;
  border: 2px solid black;        
  border-radius: 0; 
  text-align: center;
}

.btn-rsvp:hover,
.btn-language:hover,
.btn-rsvp:active,
.btn-language:active {
  background: #C7BD5F; 
  border: 2px solid black;
}

.btn-rsvp:focus,
.btn-language:focus,
.hamburger-menu:focus,
.header-text:focus {
  outline: none;
  box-shadow: none;
}

.header-text {
  font-weight: 500;
  font-size: 20px;
}

.header-text:hover {
  text-decoration: underline;
}

.header-container {
  position: relative;
  z-index: 1000;
}

.hamburger-menu {
  z-index: 1100;
}


/* ================= VISIBILIDAD ================= */
.desktop-only { display: inline-block; }
.mobile-only { display: none; }

/* ================= MOBILE ================= */
@media (max-width: 768px) {

  .desktop-only {
    display: none;
  }

  .mobile-only {
    display: inline-block;
  }

 /* MENÚ LATERAL DERECHO */
.mobile-menu {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;

  width: 30vw;
  min-width: 240px;
  max-width: 320px;

  background-color: #E7E09B;

  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  padding: 6rem 1.5rem 2rem; /* espacio arriba para no tapar header */

  transform: translateX(100%);
  transition: transform 0.3s ease;

  z-index: 900; /* menor que el header */
}

/* MENÚ ABIERTO */
.mobile-menu.open {
  transform: translateX(0);
}

/* Animación */
@keyframes slideIn {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}


}
